	<h1>Your Day-Log Overview</h1>

<div class="userLogs">

	{{#each userLog}}
		<canvas class="myChart"></canvas>
		<div class="userLog">
			{{#each this.logs}}
				<div class="dayLog">
					<h2>Day: {{this.day}}</h2>
					<p>Productive Hours: {{productiveHours}}</p>
					<p>Less Productive Hours: {{lessProductiveHours}}</p>
					<p>Hours of Sleep: {{hoursOfSleep}}</p>
					<p>Quality of Nutrition: {{nutritionQuality}}</p>

					<p>User: {{owner.username}}</p>

					<a href="/day-logs/{{_id}}/delete">Delete this Day-Log</a>
				</div>
			{{/each}}
		</div>
	{{/each}}

	<a href="/day-logs/add">Add a Day Log</a>
	<a href="/">Home</a>
</div>

