	<h1>Your Day Logs</h1>
	<a id="addDayLog" href="/day-logs/add"><p>Add a Day Log</p></a><br>


<div class="userLogs">

	{{#each userLog}}
		<canvas class="myChart"></canvas>
		<div class="userLog">
			{{#each this.logs}}
				<div class="dayLog">
					<h2>Day: {{this.day}}</h2>
					<p>Productive Hours: {{productiveHours}}</p>
					<p>Less Productive Hours: {{lessProductiveHours}}</p>
					<p>Hours of Sleep: {{hoursOfSleep}}</p>
					<p>Quality of Nutrition: {{nutritionQuality}}</p>

					<p>User: {{owner.username}}</p>

					<a href="/day-logs/{{_id}}/delete">Delete this Day-Log</a>
				</div>
			{{/each}}
		</div>
	{{/each}}
	<div>
		<a href="/day-logs/add">Add a Day Log</a><br>
		<a href="/">Home</a>
	</div>
</div>

